In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define a mapping of filenames to district names
district_mapping = {
    'datasets/causeway-bay-air-quality.csv': 'Wan Chai',
    'datasets/central_western-air-quality.csv': 'Central and Western',
    'datasets/eastern-air-quality.csv': 'Eastern',
    'datasets/kwai-chung-air-quality.csv': 'Kwai Tsing',
    'datasets/kwun-tong-air-quality.csv': 'Kwun Tong',
    'datasets/mong-kok-air-quality.csv': 'Yau Tsim Mong',
    'datasets/north-air-quality.csv': 'North',
    'datasets/sha-tin-air-quality.csv': 'Sha Tin',
    'datasets/sham-shui-po-air-quality.csv': 'Sham Shui Po',
    'datasets/southern-air-quality.csv': 'Southern',
    'datasets/tai-po-air-quality.csv': 'Tai Po',
    'datasets/tseung-kwan-o-air-quality.csv': 'Sai Kung',
    'datasets/tsuen-wan-air-quality.csv': 'Tsuen Wan',
    'datasets/tuen-mun-air-quality.csv':'Tuen Mun',
    'datasets/yuen-long-air-quality.csv': 'Yuen Long',
}

In [3]:
# List of CSV filenames to process
file_names = district_mapping.keys()
file_names

dict_keys(['causeway-bay-air-quality.csv', 'central_western-air-quality.csv', 'eastern-air-quality.csv', 'kwai-chung-air-quality.csv', 'kwun-tong-air-quality.csv', 'mong-kok-air-quality.csv', 'north-air-quality.csv', 'sha-tin-air-quality.csv', 'sham-shui-po-air-quality.csv', 'southern-air-quality.csv', 'tai-po-air-quality.csv', 'tseung-kwan-o-air-quality.csv', 'tsuen-wan-air-quality.csv', 'tuen-mun-air-quality.csv', 'yuen-long-air-quality.csv'])

In [4]:
all_data = []

In [5]:
for file_name in file_names:
    # Read the CSV file
    df = pd.read_csv(file_name)

    essential_columns = df.columns[:5].tolist() 
    
    # Add the district name column
    district_name = district_mapping[file_name]
    df['district'] = district_name

    df.dropna(subset=essential_columns, inplace=True)
    df.dropna(inplace=True)

    columns_to_keep = df.columns[:5].tolist() + ['district']
    df = df[columns_to_keep]

    all_data.append(df)

In [6]:
columns_to_keep

['date', ' pm25', ' pm10', ' o3', ' no2', 'district']

In [7]:
final_data = pd.concat(all_data, ignore_index=True)
final_data

            date  pm25  pm10   o3  no2   district
0      2024/11/1    71    29   17   34   Wan Chai
1      2024/11/2    69    33   26   29   Wan Chai
2      2024/11/3    71    46   39   32   Wan Chai
3      2024/11/4    95    42   27   35   Wan Chai
4      2024/11/5    94    48   34   36   Wan Chai
...          ...   ...   ...  ...  ...        ...
52479  2015/3/31               11   18  Yuen Long
52480   2014/4/9               38   19  Yuen Long
52481  2014/4/10               24   22  Yuen Long
52482  2014/4/11               21   22  Yuen Long
52483  2014/4/12               34   31  Yuen Long

[52484 rows x 6 columns]

In [8]:
final_data.to_csv('combined_air_quality_data.csv', index=False)